body{
    margin: 25px;
    background-image: url('https://images.pexels.com/photos/2310713/pexels-photo-2310713.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------- header -----------------------------------------*/
#nombre-web{
    font-family: Georgia, serif;
    display: grid;
    text-align: center;
    margin: 25px;
    margin-top: 5%;
    color: aliceblue;   
}
.nombre {
    font-size: 120%;
}
.apellidos {
    font-size: 160%;
}

nav {
    display: grid;
    justify-items: center;
    margin: 25px;
}

nav ul {
    /* list-style: none; */
    overflow: hidden; 
}
nav ul li {
    float:left;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    color: aliceblue;
}

nav ul li a {
    display: block; 
    /* padding: 20px; */
    color: aliceblue;
    text-decoration: none;
}

nav ul a:hover {
    color: #f5b677;
}
nav ul li:hover {
    color: #f5b677;
}

/* -------------------------- container -----------------------------------------*/
content .description{
    padding: 25px;
    display: grid;
    text-align: center;
    background-image: url("img/hexagono-alargado.png");
    background-size: 55% 250%;
    background-repeat: no-repeat;
    background-position: center;
    
}

content .description{
    color: aliceblue;
}

/* -------------------------- footer -----------------------------------------*/
footer{
    position: absolute;
    bottom: 0;
    /* width: 100%;
    height: 40px; */
}

footer .row img {
    width: 200%;
}

.card {
    background-color: transparent;
}

form{
    margin: 50px;
}
.form-group {
    margin-bottom: 10px;
}
